# IDE
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# pytest
.pytest_cache/

# Virtual environments
venv/
.env/
env/

# OS
.DS_Store
Thumbs.db
